In [4]:
import pandas as pd
import numpy as np
import matplotlib as mpl

In [5]:
f = open("Airplane_Crashes_and_Fatalities_Since_1908.csv", "r")
df = pd.read_csv(f)

In [9]:
print 'data head\n'
print df.head

data head

<bound method DataFrame.head of             Date   Time                                           Location  \
0     09/17/1908  17:18                                Fort Myer, Virginia
1     07/12/1912  06:30                            AtlantiCity, New Jersey
2     08/06/1913    NaN                 Victoria, British Columbia, Canada
3     09/09/1913  18:30                                 Over the North Sea
4     10/17/1913  10:30                         Near Johannisthal, Germany
5     03/05/1915  01:00                                    Tienen, Belgium
6     09/03/1915  15:20                              Off Cuxhaven, Germany
7     07/28/1916    NaN                              Near Jambol, Bulgeria
8     09/24/1916  01:00                                Billericay, England
9     10/01/1916  23:45                               Potters Bar, England
10    11/21/1916    NaN                                     Mainz, Germany
11    11/28/1916  23:45                       Off West Hartlepool, England
12    03/04/1917    NaN                                 Near Gent, Belgium
13    03/30/1917    NaN                               Off Northern Germany
14    05/14/1917  05:15                       Near Texel Island, North Sea
15    06/14/1917  08:45                     Off Vlieland Island, North Sea
16    08/21/1917  07:00                                Off western Denmark
17    10/20/1917  07:45                             Near Luneville, France
18    04/07/1918  21:30                             Over the Mediterranean
19    05/10/1918    NaN                      Off Helgoland Island, Germany
20    08/11/1918  10:00                          Ameland Island, North Sea
21    12/16/1918    NaN                              Elizabeth, New Jersey
22    05/25/1919    NaN                                    Cleveland, Ohio
23    07/19/1919    NaN                              Dix Run, Pennsylvania
24    10/02/1919    NaN                                 Newcastle, England
25    10/14/1919    NaN                             Cantonsville, Maryland
26    10/20/1919    NaN                                    English Channel
27    10/30/1919    NaN                            Long Valley, New Jersey
28    03/10/1920    NaN                                 New Paris, Indiana
29    03/30/1920    NaN                                 Newark, New Jersey
...          ...    ...                                                ...
5238  11/13/2008  11:35                                     Fallujah, Iraq
5239  11/16/2008  10:32         Thormanby Island, British Columbia, Canada
5240  11/27/2008  17:00                              Off Perpignan, France
5241  12/03/2008  12:13                              San Juan, Puerto Rico
5242  12/11/2008  06:25                             Off Sabine Pass, Texas
5243  12/15/2008  16:40                       Off Turks and Caicos Islands
5244  01/04/2009  15:30                               Near Houma Louisiana
5245  01/15/2009  15:06                                 New York, New York
5246  02/07/2009  14:00                                 Manacapuru, Brazil
5247  02/07/2009  06:30                                    Trigoria, Italy
5248  02/12/2009  22:17                          Clarence Center, New York
5249  02/15/2009  16:05                                      Chanco, Chile
5250  02/20/2009  04:10                                       Luxor, Egypt
5251  02/25/2009  10:31                             Amsterdam, Netherlands
5252  03/09/2009  05:40                              Lake Victoria, Uganda
5253  03/12/2009  09:48                        Off St. Johns, Newfoundland
5254  03/22/2009  14:28                                     Butte, Montana
5255  03/23/2009  06:48                                       Tokyo, Japan
5256  04/01/2009  14:00                              Off Crimond, Scotland
5257  04/06/2009  12:30                                 Bandung, Indonesia
5258  04/09/2009  07:00                             Near Wamena, Indonesia
5259  04/17/2009  10:30                           Mount Gergaji, Indonesia
5260  04/17/2009  15:32                   Canaima National Park, Venezuela
5261  04/29/2009  06:00                 Massamba, DemocratiRepubliof Congo
5262  05/03/2009  12:00                   Near El Alto de Rubio, Venezuela
5263  05/20/2009  06:30                             Near Madiun, Indonesia
5264  05/26/2009    NaN                  Near Isiro, DemocratiRepubliCongo
5265  06/01/2009  00:15  AtlantiOcean, 570 miles northeast of Natal, Br...
5266  06/07/2009  08:30       Near Port Hope Simpson, Newfoundland, Canada
5267  06/08/2009    NaN                  State of Arunachal Pradesh, India

                                    Operator Flight #  \
0                       Military - U.S. Army      NaN
1                       Military - U.S. Navy      NaN
2                                    Private        -
3                     Military - German Navy      NaN
4                     Military - German Navy      NaN
5                     Military - German Navy      NaN
6                     Military - German Navy      NaN
7                     Military - German Army      NaN
8                     Military - German Navy      NaN
9                     Military - German Navy      NaN
10                    Military - German Army      NaN
11                    Military - German Navy      NaN
12                    Military - German Army      NaN
13                    Military - German Navy      NaN
14                    Military - German Navy      NaN
15                    Military - German Navy      NaN
16                    Military - German Navy      NaN
17                    Military - German Navy      NaN
18                    Military - German Navy      NaN
19                    Military - German Navy      NaN
20                    Military - German Navy      NaN
21                    US Aerial Mail Service      NaN
22                    US Aerial Mail Service      NaN
23                    US Aerial Mail Service      NaN
24             Aircraft Transport and Travel      NaN
25                    US Aerial Mail Service      NaN
26             Aircraft Transport and Travel      NaN
27                    US Aerial Mail Service      NaN
28                    US Aerial Mail Service      NaN
29                    US Aerial Mail Service      NaN
...                                      ...      ...
5238                   Falcon Aviation Group      NaN
5239                  PacifiCoastal Airlines      NaN
5240  XL Airways leased from Air New Zealand      NaN
5241          Webstas Aviation Services Inc.      NaN
5242                   Rotorcraft Leasing Co      NaN
5243                        Alantis Aviation      NaN
5244               Petroleum Helicopters Inc      NaN
5245                              US Airways     1549
5246                         Aerotaxi Manaus      NaN
5247                       Air One Executive      NaN
5248       Continental Connection/Colgan Air     3407
5249                          Flight Service      NaN
5250                                Aerolift      NaN
5251                        Turkish Airlines     1951
5252                                Aerolift      NaN
5253                      Cougar Helicopters      NaN
5254                       Eagle Cap Leasing      NaN
5255                                   FedEx       80
5256               Bond Offshore Helicopters      NaN
5257         Military - Indonesian Air Force      NaN
5258                        Aviastar Mandiri      NaN
5259                              Mimika Air      514
5260                         Aerotuy airline      NaN
5261                                Bako Air      NaN
5262              Military - Venezuelan Army      NaN
5263         Military - Indonesian Air Force      NaN
5264                             Service Air      NaN
5265                              Air France      447
5266                              Strait Air      NaN
5267             Military - Indian Air Force      NaN

                                                  Route  \
0                                         Demonstration
1                                           Test flight
2                                                   NaN
3                                                   NaN
4                                                   NaN
5                                                   NaN
6                                                   NaN
7                                                   NaN
8                                                   NaN
9                                                   NaN
10                                                  NaN
11                                                  NaN
12                                                  NaN
13                                                  NaN
14                                                  NaN
15                                                  NaN
16                                                  NaN
17                                                  NaN
18                                                  NaN
19                                                  NaN
20                                                  NaN
21                                                  NaN
22                                                  NaN
23                                                  NaN
24                                                  NaN
25                                                  NaN
26                                                  NaN
27                                                  NaN
28                                                  NaN
29                                                  NaN
...                                                 ...
5238                         al-Asad air base - Baghdad
5239              Vancouver - Powell River - Toba Inlet
5240                                           Training
5241              Tortola Virgin Islands - San Juan, PR
5242                         Sabine Pass - Oil Platform
5243        Santiago, Dominican Republi- Providenciales
5244              Bayou Penchant - Off shore oil fields
5245                        New York, NY- Charlotte, NC
5246                                      Coari - Manus
5247                                     Rome - Bologna
5248                         Newark, N.J. - Buffalo, NY
5249                                                NaN
5250  Entebbe, Uganda - Luxor, Egypt - Niklaev, Ukraine
5251          Istanbul, Turkey - Amsterdam, Netherlands
5252               Entebbe, Uganda - Mogadishu, Somalia
5253                      St. Johns - Hibernia platform
5254                           Oroville, CA - Butte, MT
5255                    Guangzhou, China - Tokyo, Japan
5256                            Miller field - Aberdeen
5257                                 Militiary training
5258                                  Jayapura - Wamena
5259                                      Ilaga - Mulia
5260                                 Canaima - Porlamar
5261  Bangui, CAR- Brazzaville, Congo - Harare, Zimb...
5262                                             Patrol
5263                                   Jakarta - Maduin
5264                                       Goma - Isiro
5265                             Rio de Janeiro - Paris
5266          Lourdes de BlanSablon - Port Hope Simpson
5267                                 Mechuka for Jorhat

                                     Type Registration       cn/In  Aboard  \
0                        Wright Flyer III          NaN           1     2.0
1                               Dirigible          NaN         NaN     5.0
2                        Curtiss seaplane          NaN         NaN     1.0
3                  Zeppelin L-1 (airship)          NaN         NaN    20.0
4                  Zeppelin L-2 (airship)          NaN         NaN    30.0
5                  Zeppelin L-8 (airship)          NaN         NaN    41.0
6                 Zeppelin L-10 (airship)          NaN         NaN    19.0
7           Schutte-Lanz S-L-10 (airship)          NaN         NaN    20.0
8                 Zeppelin L-32 (airship)          NaN         NaN    22.0
9                 Zeppelin L-31 (airship)          NaN         NaN    19.0
10               Super Zeppelin (airship)          NaN         NaN    28.0
11                Zeppelin L-34 (airship)          NaN         NaN    20.0
12                                Airship          NaN         NaN    20.0
13           Schutte-Lanz S-L-9 (airship)          NaN         NaN    23.0
14                Zeppelin L-22 (airship)          NaN         NaN    21.0
15                Zeppelin L-43 (airship)          NaN         NaN    24.0
16                Zeppelin L-23 (airship)          NaN         NaN    18.0
17                Zeppelin L-44 (airship)          NaN         NaN    18.0
18                Zeppelin L-59 (airship)          NaN         NaN    23.0
19                Zeppelin L-70 (airship)          NaN         NaN    22.0
20                Zeppelin L-53 (airship)          NaN         NaN    19.0
21                      De Havilland DH-4           97         NaN     1.0
22                      De Havilland DH-4           61         NaN     1.0
23                      De Havilland DH-4           82         NaN     1.0
24                      De Havilland DH-4          NaN         NaN     1.0
25                          Curtiss R-4LM           32         NaN     1.0
26                      De Havilland DH-4       G-EAHG         NaN     NaN
27                      De Havilland DH.4           77         NaN     1.0
28                      De Havilland DH-4           65         NaN     1.0
29                      De Havilland DH-4           72         NaN     1.0
...                                   ...          ...         ...     ...
5238                        Antonov An-12       S9-SAO      346908     7.0
5239                  Grumman G-21A Goose       C-FPCK        1187     8.0
5240                      Airbus A320-232       D-AXLA        2500     7.0
5241          Rockwell International 690B      N318WA        11444     3.0
5242           Bell 206-L4 Jet Ranger III       N180AL       52104     3.0
5243  Britten Norman BN-2A Trislander Mk3       N650LP        1029    12.0
5244                       Sikorsky S-76C        N748P      760629     9.0
5245                      Airbus A320-214       N106US        1044   155.0
5246                Bandeirante EMB-110P1       PT-SEA      110352    28.0
5247              Cessna 650 Citation III       I-FEEV    650-0105     2.0
5248            Bombardier DHC-8-402 Q400       N200WQ        4200    49.0
5249                           Bell UH-1H          NaN         NaN    13.0
5250                          Antonov 12V       S9-SVN     6344310     5.0
5251                       Boeing 737-8F2       TC-JGE  29789/1065   134.0
5252                      Ilyushin Il-76T       S9-SAB   073410301    11.0
5253                       Sikorsky S-92A       C-GZCH      920048    18.0
5254                     Pilatus PC-12/45       N128CM         403    14.0
5255              McDonnell Douglas MD-11       N526FE   48600/560     2.0
5256     Eurocopter AS 332L2 Super Puma 2          NaN         NaN    16.0
5257          Fokker F-27 Friendship 400M       A-2703       10538    24.0
5258        British Aerospace BAe-146-300       PK-BRD       E3189     6.0
5259                         Pilatus PC-6       PK-LTJ         959    11.0
5260            Cessna 208B Grand Caravan      YV-1181   208B-0695    11.0
5261                     Boeing B-737-200      TL-ADM    22264/753     7.0
5262                                Mi-35     EV08114          NaN    18.0
5263              Lockheed C-130 Hercules       A-1325        1982   112.0
5264                        Antonov An-26       9Q-CSA        5005     4.0
5265                      Airbus A330-203       F-GZCP         660   228.0
5266     Britten-Norman BN-2A-27 Islander      C-FJJR          424     1.0
5267                        Antonov An-32          NaN         NaN    13.0

      Fatalities  Ground                                            Summary
0            1.0     0.0  During a demonstration flight, a U.S. Army fly...
1            5.0     0.0  First U.S. dirigible Akron exploded just offsh...
2            1.0     0.0  The first fatal airplane accident in Canada oc...
3           14.0     0.0  The airship flew into a thunderstorm and encou...
4           30.0     0.0  Hydrogen gas which was being vented was sucked...
5           21.0     0.0  Crashed into trees while attempting to land af...
6           19.0     0.0  Exploded and burned near Neuwerk Island,  when...
7           20.0     0.0         Crashed near the Black Sea, cause unknown.
8           22.0     0.0  Shot down by British aircraft crashing in flames.
9           19.0     0.0  Shot down in flames by the British 39th Home D...
10          27.0     0.0                                Crashed in a storm.
11          20.0     0.0  Shot down by British anti-aircraft fire and ai...
12          20.0     0.0                           Caught fire and crashed.
13          23.0     0.0  Struck by lightning and crashed into the Balti...
14          21.0     0.0  Crashed into the sea from an altitude of 3,000...
15          24.0     0.0                     Shot down by British aircraft.
16          18.0     0.0                     Shot down by British aircraft.
17          18.0     0.0            Shot down by French anti-aircraft fire.
18          23.0     0.0  Exploded and crashed into the sea off the sout...
19          22.0     0.0  Shot down by British aircraft crashing from a ...
20          19.0     0.0                     Shot down by british aircraft.
21           1.0     0.0                                                NaN
22           1.0     0.0  Caught fire in midair. The pilot leaped from t...
23           1.0     0.0                                                NaN
24           1.0     0.0                                                NaN
25           1.0     0.0                                                NaN
26           NaN     NaN                                                NaN
27           1.0     0.0                                                NaN
28           1.0     0.0                                                NaN
29           1.0     0.0                                                NaN
...          ...     ...                                                ...
5238         7.0     0.0  The cargo plane, chartered by FedEx, crashed w...
5239         7.0     0.0  The charter aircraft crashed into a steep hill...
5240         7.0     0.0  The Airbus A320 was leased by XL Airways of Ge...
5241         3.0     0.0  The plane struck the side of El Yunque mountai...
5242         3.0     0.0  The helicopter ferrying workers to an off shor...
5243        12.0     0.0  The charter flight disappeared from radar 35 m...
5244         8.0     0.0  A helicopter bound for offshore oil fields wen...
5245         0.0     0.0  The plane was taking off from La Guardia Airpo...
5246        24.0     0.0  The plane was being used as an air taxi to fer...
5247         2.0     0.0  The plane, heading to Bologna to pick up a med...
5248        49.0     1.0  The commuter plane crashed while attemptiong t...
5249        13.0     0.0  The helicopter was carrying firemen to a nearb...
5250         5.0     0.0  While attemping to take off from Luxor, the ca...
5251         9.0     0.0  The plane was on final approach to Runway 18R ...
5252        11.0     0.0  The cargo plane carrying and water purificatio...
5253        17.0     0.0  The pilot reported a technical malfunction and...
5254        14.0     0.0  The plane crashed 500 feet short of the runway...
5255         2.0     0.0  The cargo plane crashed and burst into flame a...

In [14]:
print 'shape: ' + str(df.shape)

shape: (5268, 13)

In [20]:
df.rename(columns={'Flight #': 'Flight'}, inplace=True)
print 'attributes in data set: ' + str(list(df))

attributes in data set: ['Date', 'Time', 'Location', 'Operator', 'Flight', 'Route', 'Type', 'Registration', 'cn/In', 'Aboard', 'Fatalities', 'Ground', 'Summary']

In [23]:
print 'All unique values in columns'
# Date unique useless but still maybe able to use months and years individually
print "Date " + str(pd.unique(df.Date.ravel()))
print "Time " + str(pd.unique(df.Time.ravel()))
print "Location " + str(pd.unique(df.Location.ravel()))
print "Operator " + str(pd.unique(df.Operator.ravel()))
print "Flight # " + str(pd.unique(df.Flight.ravel()))
print "Route " + str(pd.unique(df.Route.ravel()))
print "Type " + str(pd.unique(df.Type.ravel()))
print "Registration " + str(pd.unique(df.Registration.ravel()))
print "cn/In " + str(pd.unique(df.cn/In.ravel()))
print "Aboard " + str(pd.unique(df.Aboard.ravel()))
print "Fatalities " + str(pd.unique(df.Fatalities.ravel()))
print "Ground " + str(pd.unique(df.Ground.ravel()))
# Summary unique useless but still
print "Summary " + str(pd.unique(df.Summary.ravel()))

All unique values in columns
Date['09/17/1908' '07/12/1912' '08/06/1913' ..., '06/01/2009' '06/07/2009'
 '06/08/2009']
Time['17:18' '06:30' nan ..., '01:25' '03:57' '15:32']
Location['Fort Myer, Virginia' 'AtlantiCity, New Jersey'
 'Victoria, British Columbia, Canada' ...,
 'AtlantiOcean, 570 miles northeast of Natal, Brazil'
 'Near Port Hope Simpson, Newfoundland, Canada'
 'State of Arunachal Pradesh, India']
Operator['Military - U.S. Army' 'Military - U.S. Navy' 'Private' ...,
 'Aerotuy airline' 'Bako Air' 'Strait Air']